{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Blog{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class="blog">
    <div class="date">{{ post.pub_date.strftime('%b %d, %Y') }}</div>
    <div class="action">
      <a href="{{ url_for('main.update', id=post.id) }}">Edit</a>
    </div>
    <div class="detail">
      <h1>
        <a href="{{ url_for('main.post', id=post.id) }}">{{ post.title }}</a>
      </h1>
      <div class="brief">{{ post.brief }}</div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
